<!-- Default layout for a client widget -->
<div class="panel panel-default">
  <!-- Title bar with connection and hardware connection status flags -->
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="monitor-client-title" style="margin-right: 0.5em">{{> params.description }}</span>
      <span class="monitor-client-status">
        {^{if params.connected }}

        <!-- On/Off -->
        {^{if (status.centrald^state & 48) == 48 }}
        <span class="label label-danger" style="margin-right: 0.2em">HARD OFF</span>
        {^{else (status.centrald^state & 48) == 16 }}
        <span class="label label-warning" style="margin-right: 0.2em">Standby</span>
        {{else}}
        <span class="label label-success" style="margin-right: 0.2em">ON</span>
        {{/if}}

        <!-- Day/Night -->
        {^{if (status.centrald^state & 15) == 0 }}
        <span class="label label-danger" style="margin-right: 0.2em">Day</span>
        {^{else (status.centrald^state & 15) == 1 }}
        <span class="label label-danger" style="margin-right: 0.2em">Evening</span>
        {^{else (status.centrald^state & 15) == 2 }}
        <span class="label label-warning" style="margin-right: 0.2em">Dusk</span>
        {^{else (status.centrald^state & 15) == 3 }}
        <span class="label label-success" style="margin-right: 0.2em">Night</span>
        {^{else (status.centrald^state & 15) == 4 }}
        <span class="label label-warning" style="margin-right: 0.2em">Dawn</span>
        {{else}}
        <span class="label label-danger" style="margin-right: 0.2em">Morning</span>
        {{/if}}

        <!-- Weather -->
        {^{if (status.centrald^state & 2147483648) }}
        <span class="label label-danger" style="margin-right: 0.2em">Weather Bad</span>
        {{else}}
        <span class="label label-success" style="margin-right: 0.2em">Weather Good</span>
        {{/if}}

        <!-- Dome -->
        {^{if (status.DOME^state & 4) onError='' }}
        <span class="label label-success" style="margin-right: 0.2em">Dome Open</span>
        {{else}}
        <span class="label label-warning" style="margin-right: 0.2em">Dome Closed</span>
        {{/if}}

        {{else}}
        <span class="label label-danger" style="margin-right: 0.2em">Disconnected</span>
        {{/if}}
      </span>
    </h3>
  </div>
  <!-- Main body, hidden when disconnected -->
  <div class="monitor-client-body panel-body hide" style="padding: 1px; margin: 1px;">
    <!-- Progress bar -->
    <div class="monitor-client-progressdiv progress hide" style="margin: 0; padding: 0">
      <div class="monitor-client-progress progress-bar" style="width: 0%">
      </div>
    </div>

    <!-- Main content -->

    <!-- Show all key=value pairs from the status -->
    <div class="monitor-client-main" style="padding: 5px">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-unstyled">
            {^{props status sort="prop.order"}}
            <li>
              {^{if ~device_status(key, 'connected') }}

              <span class="
                    {{if (~device_status(key, 'state') & 983040 == 262144) }}
                    text-warning bg-warning
                    {{else (~device_status(key, 'state') & 983040) }}
                    text-danger bg-danger
                    {{else (~device_status(key, 'state') & 2147483648) }}
                    text-warning bg-warning
                    {{else ~device_status(key, 'type') == 3 && (~device_status(key, 'state') & 3) }}
                    text-info bg-info
                    {{else ~device_status(key, 'type') == 2 && ((~device_status(key, 'state') & 7) == 1 || (~device_status(key, 'state') & 7) == 4) }}
                    text-info bg-info
                    {{else ~device_status(key, 'type') == 4 && (~device_status(key, 'state') & 26) }}
                    text-info bg-info
                    {{else ~device_status(key, 'type') == 10 && (~device_status(key, 'state')) }}
                    text-info bg-info
                    {{else}}
                    text-default
                    {{/if}}">
                <span style="min-width: 7em; display: inline-block">{^{: key }}</span>
                {{device_var key 'statestring' /}}
              </span>

              <!-- Centrald -->
              {{if ~device_status(key, 'type') == 1}}
              <ul class="small"><li>
                <span class="text-muted">
                  next night: {^{: ~date(~device_status_var('centrald', 'night_beginning')) }} - {^{: ~date(~device_status_var('centrald', 'night_ending')) }}
                </span>
              </li></ul>
              {{/if}}

              <!-- Mount -->
              {{if ~device_status(key, 'type') == 2}}
              {{if ((~root.status.centrald^state & 15) != 2 || (~root.status.centrald^state & 15) != 3 || (~root.status.centrald^state & 15) != 4) && ((~device_status(key, 'state') & 7) != 2) }}
              <ul class="small"><li><span class="label label-danger">Mount is not parked</span></li></ul>
              {{/if}}
              {{/if}}

              <!-- Camera -->
              {{if ~device_status(key, 'type') == 3}}
              {{if ~device_status_var(key, 'SCRIPT') }}
              <ul class="small"><li>{{device_status_var key 'SCRIPT' 'text-muted' /}}</li></ul>
              {{/if}}
              {{/if}}

              <!-- Next-Good-Weather -->
              {{if ~device_status_var(key, 'next_good_weather') && ~device_status_var(key, 'next_good_weather') > ~now() }}
              <ul class="small"><li><span class='text-warning bg-warning'>
                next good weather: {{: ~date(~device_status_var(key, 'next_good_weather')) }}
              </span></li></ul>
              {{/if}}

              <!-- Next-Open -->
              {{if ~device_status_var(key, 'next_open') && ~device_status_var(key, 'next_open') > ~now() }}
              <ul class="small"><li><span class='text-warning bg-warning'>
                next open: {{: ~date(~device_status_var(key, 'next_open')) }}
              </span></li></ul>
              {{/if}}

              <!-- Selector -->
              {{if ~device_status(key, 'type') == 22}}
              <ul class="small">
                {{for prop.d.queue_names itemVar="~queue" ~device=key }}
                {{if ~device_status_var(~device, ~queue + '_ids').length }}
                <li>{{: ~queue }}:
                  {{for ~device_status_var(~device, ~queue + '_ids') itemVar="~id" ~device=~device ~queue=~queue ~ids=~device_status_var(~device, ~queue + '_ids') ~names=~device_status_var(~device, ~queue + '_names') ~starts=~device_status_var(~device, ~queue + '_start') ~ends=~device_status_var(~device, ~queue + '_end')}}
                  <span class="label label-info" title="{{: ~date(~starts[#index]) }} - {{: ~date(~ends[#index]) }}">{{: ~ids[#index] }} / {{: ~names[#index] }}</span>
                  {{/for}}

                </li>
                {{/if}}
                {{/for}}
              </ul>
              {{/if}}

              {{else}}
              <span class="text-danger bg-danger bold"><strong>{^{: key }}</strong></span>
              {{/if}}
            </li>
            {{/props}}
          </ul>
        </div>
        <div class="col-md-4">
          {{if params.webcam }}
          <img src="{{> params.webcam }}" class="monitor-webcam-{{> ~root.params.name }} img img-responsive center-block">
          {{/if}}
          <div class="text-center">
            {{props params.links}}
            <span class="text-info">
              <a href="{{: prop.url }}" {{if prop.title }}title="{{> prop.title }}"{{/if}} style="padding:0.2em">
                <span class="glyphicon glyphicon-link"></span>
                {{> prop.name }}
              </a>
            </span>
            {{/props}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
